<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    %> <% categories.forEach( category => { %>
    <div>
      <h4>
        <a href="/products/category/ <%=category %>"><%= category %></a>
      </h4>
    </div>

    <% }) %>
  </body>
</html>
