<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <% products.forEach(product => { %>
    <div>
      <img src=" <%= product.thumbnail %> " alt="" />
      <h4><%= product.title %></h4>
      <p><%= product.description %></p>
    </div>
    <% }) %>
  </body>
</html>
